
.progress-bar{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	z-index: 1000;
}
	.progress-bar .bar{
		width: 0;
		background: rgba(255,255,255, 0.3);
		height: inherit;
		color: rgba(255,255,255, 0.7);
		font-size: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

.progress-bar:hover{
	height: 30px;
}
	.progress-bar:hover .bar{
		background: rgba(255,255,255, 0.5);
		color: rgba(255,255,255, 1);
	}