<!doctype html>
<html ng-app>
    <head ng-controller="wordsController">
        <title>{{lang}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
        <script src="../static/wordsController.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,900' rel='stylesheet' type='text/css'>
        <link href="../static/impress-style.css" rel="stylesheet" />
    </head>
    
    <body class="impress-not-supported"  ng-controller="wordsController">
        <div class="fallback-message">
            <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
            <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
        </div>
        <div id="left"></div>
        <div id="right"></div>

            <div id="impress" data-transition-duration="0"  ng-repeat="word in words">
                <div class="step" data-x="0" data-y="{{ ((word.rank)-1)*800} }">
                    <div class="left">
                        <h1>{{word.text}}</h1>
                    </div>
                    <div class="right">Hello</div>
                </div>
            </div>

            <script type="text/javascript" src="../static/impress.js"></script>
            <script>impress().init();</script>
    </body>
    
</html>