<!doctype html>
<html>
    <head>
	<title>{{lang}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,900' rel='stylesheet' type='text/css'>
	<link href="../static/impress-style.css" rel="stylesheet" />
    </head>
    
    <body class="impress-not-supported">
	<div class="fallback-message">
	    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
	    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	</div>
	<div id="left"></div>
	<div id="right"></div>
	
	{% for w in words %}
        <div id="impress" data-transition-duration="0">      
            <div class="step" data-x="0" data-y="{{(w['num']-1)*800}}">
		<div class="left">
		    <h1>{{w['title']}}</h1>
		    <h2>#{{w['num']}}</h2>
		</div>
		<div class="right">Hello</div>
	    </div>
        {% endfor %}
	    
        </div>
        <script type="text/javascript" src="../static/impress.js"></script>
	<script>impress().init();</script>
    </body>
    
</html>