
<list-percentage></list-percentage>

<div id="mfw-list">
    <a ng-if="wordsCtrl.exampleId == 0" class="left link" ng-href="#/word/{{wordsCtrl.currentWord.rank}}"></a>
    <a ng-if="wordsCtrl.exampleId != 0" class="example left link" ng-href="#/word/{{wordsCtrl.currentWord.rank}}/sentences/{{wordsCtrl.exampleId-1}}"></a>
    <div class="word example">{{wordsCtrl.currentWord.sentences[wordsCtrl.exampleId]}} | highlight:{{wordsCtrl.currentWord}}</div>
    <a ng-if="wordsCtrl.exampleId < wordsCtrl.examplesLength-1" class="example right link" ng-href="#/word/{{wordsCtrl.currentWord.rank}}/sentences/{{wordsCtrl.exampleId+1}}"></a>
</div>
